[Unit]
Description=Promtail Log Shipping
After=network.target

[Service]
ExecStart=/usr/local/bin/promtail -config.file=/etc/promtail/promtail-config.yml
Restart=on-failure
User=nobody

[Install]
WantedBy=multi-user.target

